<head>
    <style>

    h2 {
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
    }
    table {
        margin-left: auto;
        margin-right: auto;
    }
    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: center;
        font-family: "Mate SC"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;
        font-size: 90%;
    }}
    table tbody tr:hover {
        background-color: #dddddd;
    }
    .wide {
        width: 55%;
    }
    body {
    font-family: "Mate SC"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;
    background-color: #DEDEDE;
    color: #333;
    padding: 20px 0 28px 0;
    margin: 0;
    }
    img {
    max-width: 100%;
    height: auto;
    }

</style>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
    <h1>Welcome!</h1>
    <h2>Please choose the following criteria and we'll suggest movies for you</h2>
    <h2>Example: I want all Action Leonardo DiCaprio from the 90's</h2>

<form action="{{ url_for('handle_data') }}" method="post">
    <label>Genre:</label><br>
    {% for genere in generes -%}
    <input type="radio" name="generes" value="{{ genere }}"/> {{ genere }}
    {% endfor %}
    <br/><br>
    <label for="fyear">From year:</label>
    <input type="text" id="fyear" name="fyear"
           placeholder="Year"/>
    <label for="tyear">To year:</label>
    <input type="text" id="tyear" name="tyear"
           placeholder="Year"/>
    <br><br>
<!--    <label>Is it for adults?</label>-->
<!--    <input type="radio" id="yes" name="adult" value="True">-->
<!--    <label for="yes">yes</label>-->
<!--    <input type="radio" id="no" name="adult" value="False">-->
<!--    <label for="no">no</label>-->

<!--    <br><br>-->
    <label for="actor">Actor:</label>
<!--    <input type="text" id="actor" name="actor"-->
<!--           placeholder="Actor"/>-->
        <input list="brow" name="brow">
    <datalist id="brow">
    {% for actor in cast -%}
        <option value="{{ actor }}">
    {% endfor %}
    </datalist>

<!--    <br><br>-->
<!--    <label for="director">Director:</label>-->
<!--    <input type="text" id="director" name="director"-->
<!--           placeholder="Director"/>-->
    <br><br>
<!--    <label>Language:</label>-->
<!--    {% for lang in lan -%}-->
<!--    <input type="checkbox" name="lan" value="{{ lang }}"/> {{ lan[lang] }}-->
<!--    {% endfor %}-->
    <label>Language:</label>
    <input list="lan" name="lan">
    <datalist id="lan">
    {% for lang in lan -%}
        <option value="{{ lang }}">{{ lan[lang] }}</option>
    {% endfor %}
    </datalist>

    <br/><br>
    <label for="rating">rated over</label>
    <input type="number" id="rating" name="rating"
           placeholder="a number between 1-10"/>

    <br><br>




    <input type="submit">

</form>