<!DOCTYPE html>
<html lang="en">
<head>
     <style>

    h2 {
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
    }
    table {
        margin-left: auto;
        margin-right: auto;
    }
    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: center;
        font-family: "Mate SC"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;
        font-size: 90%;
    }}
    table tbody tr:hover {
        background-color: #dddddd;
    }
    .wide {
        width: 55%;
    }
    body {
    font-family: "Mate SC"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;
    background-color: #DEDEDE;
    color: #333;
    padding: 20px 0 28px 0;
    margin: 0;
    }
    img {
    max-width: 100%;
    height: auto;
    }

</style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for table in tables %}
            {{ table|safe }}
{% endfor %}

<a href="http://127.0.0.1:5000/">Search Again!</a>
</body>
</html>